<p>test2-pip works!</p>
<form [formGroup]='allTheDetails' ngsubmit="">
<label >FirstName</label><input formControl="FirstName"><br>
<label >LastName</label><input formControl="LastName"><br>
<label >City</label><input formControl="City"><br>
<label >Street</label><input formControl="Street"><br>
<label >buildingNumber</label><input type="number" formControl="buildingNumber"><br>
<label >CellPhone</label><input type="number" formControl="CellPhone"><br>
<label >Miles</label><input formControl="Miles"><br>

</form>
<table>

</table>