projecAngulart1
<ul>
  <li><a routerLink="/Father">Father</a></li>
  <li><a routerLink="/Son">Son</a></li>
  <li><a routerLink="/Grandson">Grandson</a></li>
  <li><a routerLink="/CanActivat">CanActivat</a></li>
  <li><a routerLink="/User/5">User</a></li>
  <li><a routerLink="/Login">Login</a></li>
  <li><a routerLink="Test1Pip">Test1Pip</a></li>
  <!-- <li><input [(ngModel)]=aaaa></li> -->
  <li><a routerLink="/Data">Data</a></li>
  <li><a routerLink="/cowtMenu">cowtMenu</a></li>
  <li><a routerLink="/Text1pip2Pipe">Text1pip2Pipe</a></li>
  
</ul>
<hr>
 <router-outlet></router-outlet> 